* {
  box-sizing: border-box;
  border: 0.5px solid transparent; 
}

html, body {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif; 
  color:  #7AB0AD;
  text-align: center;
  margin: 0; 
  padding: 0; 
  background-color:#1F3D45;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
  color: #E8E8E8;
}

.button {
  width: 10rem;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  background-color: transparent;
  border: 2px solid  #7AB0AD;
  height: 3rem;
  color: #E8E8E8;
  border-radius: 5px;
  outline: none;
}

.button:hover {
  color:  #7AB0AD;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin: 2% 0% 2% 0%;
  color: black;
  border-radius: 3px;
}

.error {
  margin-top: 2.5rem;
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}

#app, .container {
  width: 100%;
  height: 100%; 
}

.container {
  position: relative;
}

label {
  font-size: 1rem;
  color: #7AB0AD;
  margin-bottom: 0rem;
}

/* NAV  */

.navbar {
  position: relative;
  display: flex;
  height: 10%;
  width: 100%; 
  background-color: #1F3D45;
  margin: 0;
}

.navbar-brand {
  width: 50%;
}

.navbar-brand img {
  position: absolute;
  top: 30%;
  left: 2%;
  width: 30%; 
}

.navbarmenu {
  position: absolute;
  right: 0.7rem;
  padding: 1rem;
}

.navbarmenu .button {
  width: 5rem;
  height: 2rem;
  margin: 1rem 0 0 1rem;
  font-size: 0.8rem;
}

/* HOME */

.container-main {
  margin-top: 0;
}

/* HOMEGRAPH  */

.homegraph {
  height: 100%; 
  margin-top: 0;
  padding: 0;
  position: relative;
}

.homegraph h4 {
  visibility: hidden;
}
.homegraph p {
  font-size: 1rem; 
  font-weight: 900; 
  margin: 1rem; 
  color: #7AB0AD;
}

.recharts-wrapper, .recharts-surface, .recharts-legend-wrapper, .recharts-default-legend {
  width: 100% !important;
  overflow: hidden;
}

/* ABOUT */

.about {
  position: relative; 
  padding-top: 5%; 
}

.about p {
  font-size: 1.3rem;
  margin: 1rem 3rem 1rem 3rem;
  font-style: italic;
  color:  #7AB0AD;
}

.homebuttons {
  display: inline;
}

/* FOOTER */

.footer {
  width: 90%;
  margin: auto;
  height: 5%;
  background-color: #1F3D45;
  border-top: 2px solid #7AB0AD;
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: #E8E8E8;
}

.footer a {
  color: #E8E8E8;
  border: .3px solid transparent;
}

.app {
  background-color: #7AB0AD;
}

/* ADD COMPANY */

.companyAdd h3 {
  text-align: left;
}

.CompanyAddForm {
  background-color: #1F3D45;
  width: 100%;
  margin: auto;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #E8E8E8;
  font-size: 20px;
  padding: 0 2rem 0 2rem;
}

.companyAdd h3 {
  width: 100%;
  text-align: left;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
}

/* LOGIN, REGISTER */

.login, .register {
  text-align: left;
  padding: 0 2rem 0 2rem;
}

.login h3, .register h3 {
  margin-bottom: 1.5rem;
}

.login .button, .register .button, .companyAdd .button {
  margin-left: 0;
}

/* STATS */

.bar, .pie {
  margin-top: 2rem;
}

.bar.recharts-wrapper, .bar.recharts-surface {
  height: 400px;
}   

/* MEDIA QUERIES */

@media only screen and (min-width: 440px) {
  .navbar-brand img {
    width: 22%; 
  }
}  

@media only screen and (min-width: 650px) {
  .navbar-brand img {
    width: 18%; 
  }
}

@media only screen and (min-width: 800px) {
  .container {
    height: 100vh;
  }

  .navbarmenu .button {
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
  }
  .footer {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: left;
  }

  .about p {
    font-size: 1.6rem;
  }  
}

@media only screen and (min-width: 900px) {
  .navbar-brand img {
    width: 15%; 
  }
}
