* {
  box-sizing: border-box;
  border: 0.5px solid transparent; 
}

html, body {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif; 
  color:  #7AB0AD;
  text-align: center;
  margin: 0px; 
  padding: 0px; 
  background-color:#1F3D45;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #E8E8E8;
}

.button {
  width: 10rem;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  background-color: transparent;
  border: 2px solid  #7AB0AD;
  height: 3rem;
  color: #E8E8E8;
  border-radius: 5px;
}

.button a {
  color:  #E8E8E8;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin: 2% 0% 2% 0%;
  color: #E8E8E8;
}

.error {
  color: red;
  font-weight: bold;
}

#app, .container {
  width: 100%;
  height: 100%; 
}

.container {
  position: relative;
}

/* NAV  */

.navbar {
  position: relative;
  height: 10%;
  width: 100%; 
  background-color: #1F3D45;
  margin: 0;
}

.navbar-brand h2 {
  position: absolute;
  top: 40%;
  left: 1rem;
  color: #E8E8E8;
  font-size: 3rem; 
  text-align: left; 
  width: 10%; 
  margin-left: 0;
}

.login {
  position: absolute;  
  top: 25%; 
  right: 0;
  width: 5rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #E8E8E8;
  border: 2px solid  #7AB0AD;
  background-color: transparent;
  border-radius: 5px;
}

/* HOME */

.container-main {
  height: 50%; 
  margin-top: 4rem;
}

/* HOMEGRAPH  */

.homegraph {
  height: 100%; 
  margin-top: 1rem;
  padding: 0;
  position: relative;
}

.homegraph p {
  font-size: 1rem; 
  font-weight: 900; 
  margin: 1rem; 
  color: #7AB0AD;
}

.recharts-wrapper, .recharts-surface, .recharts-legend-wrapper, .recharts-default-legend {
  width: 100% !important;
  overflow: hidden;
}

/* ABOUT */

.about {
  position: relative; 
  padding-top: 5%; 
}

.about p {
  font-size: 1.3rem;
  margin: 1rem 3rem 1rem 3rem;
  font-style: italic;
  color:  #7AB0AD;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 5%;
  background-color: #1F3D45;
  text-align: left;
  border-top: 2px solid  #7AB0AD;
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: #E8E8E8;
}

.footer h4 {
  font-size: 1.2rem;
  font-weight: 900;
}
.footer a {
  color: #E8E8E8;
  border: .3px solid transparent;
}

.app {
  background-color: #7AB0AD;
}

/* Add Company Title */

.AddCompTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: 500;
  margin: 5% 5% 2% 10%;
  font-size: 30px;
  font-weight: 400;
}

/* Form */

.CompanyAddForm {
  background-color: #1F3D45;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #E8E8E8;
  font-size: 20px;
  padding: 2% 5% 2% 5%;
  margin: 0% 12% 10% 10%;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
}

/* Add Button */

.addButt {
  width: 150px;
  padding: 10px;
  margin: 0% 20% 0% 35%;
  background-color: #C0462E;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #E8E8E8;
  font-weight: 500;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 800px) {
  .container {
    height: 100vh;
  }

  .footer {
    position: absolute;
    bottom: 0;
  }

  .about p {
    font-size: 1.6rem;
  }  
}
